@import 'STYLES/ui_vars.scss';

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: $color_primery;
    font-family: $font_main_family;
    color: $color_white;
}