@import 'STYLES/ui_vars.scss';

#home_page{
    h3{
        text-align: center;
        margin-top: $sizing_px_large;
    }
    .toggler{
        margin: 0 auto;
        display: block;
        padding: 8px;
        border-radius: $radius_70;
        background-color: $color_secondary;
        border: 1px solid $color_secondary;
        color: $color_80_gray;
        cursor: pointer;
    }
    a{
        text-align: center;
        text-decoration: none;
        color: $color_white;
        display: block;
        margin-top: 16px;
    }
    button{
        margin: 0 auto;
        display: block;
    }
}
