// colors
$color_primery: #5d3cbf;
$color_dark: #1d1d1d;
$color_light_dark: #3e3e3e;
$color_white: white;

// typography
$font_main_family: sans-serif;
$font_p_size: 16px;
$font_h1_size: 36px;

// other